

.button__link {
    text-transform: uppercase;
    padding: 13px 50px;
    border: none;
    color: white;
    background-color: $primary-accent-color;
    font-size: 2rem;
    border-radius: 10px;
}

input {
    background: white;
    padding: 13px 50px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    text-align: center;
    margin-top: 15px;
}