

.button {
    // width: 100%;
    .button__target {
        text-transform: uppercase;
        padding: 13px 0;
        border: none;
        color: white;
        background-color: $primary-accent-color;
        font-size: 2rem;
        border-radius: 10px;
        text-decoration: none;
        width: 100%;
        display: block;
    }
}


