
.card {
    width: 72vw;
    height: 72vw;
    background-color: #fff;
    // display: flex;
    perspective: 1000px;
    &__cardFlipper {
        transition: 2s;
        transform-style: preserve-3d;
        position: relative;        
        &--active{
            transform: rotateY(180deg);
        }    
    }
    .card__display {
        // background-color: #c6c5ec;
        width: 100%;
        height: 72vw;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        &--back {
            background-color: blue;
        }
        &--front {
            background-color: red;
            transform: rotateY(180deg);
        }
    }    
}


// .playerCards {
//     display: flex;
//     justify-content: space-around;
//     .cardContainer{
//         perspective: 1000px;
//         height: 200px;
//         width: 200px;
//         .playerCards__cardFlipper {
//             transition: 2s;
//             transform-style: preserve-3d;
//             position: relative;        
//             &--active{
//                 transform: rotateY(180deg);
//             }
//             .card {
//                 background-color: #c6c5ec;;
//                 border-radius: 5%;
//                 height: 200px;
//                 width: 200px;
//                 backface-visibility: hidden;
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 display: flex;
//                     img {
//                         position: relative;
//                         margin: auto;
//                         width: 70%;
//                     }
//                 &--back {
//                     w
//                     }
//                 &--rock {
//                     background-color: $rock-color;
//                 }
//                 &--paper {
//                     background-color: $paper-color;
//                     img {
//                         top: 8%;
//                         right: 2%;
//                     }
//                 }
//                 &--scissors {
//                     background-color: $scissors-color;
//                     img {
//                         top: 8%;
//                         right: 1%;
//                     }
//                 }
//                 &--lizard {
//                     background-color: $lizard-color;
//                     img {
//                         top: 12%;
//                     }
//                 }
//                 &--spock {
//                     background-color: $spock-color;
//                     img {
//                         width: 55%;
//                         top: 9%;
//                         right: 3%;
//                     }                    
//                 }
//                 &--user {
//                     img {
//                         width: 55%;
//                         top: 5%;
//                     }
//                 }
//                 &--comp {
//                     img {
//                         position: absolute;
//                         width: 90%;
//                         top: 5%;
//                         left: 6%;
//                     }
//                 }
//             }
//         }
//     }
// }