
.card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    &__cardFlipper {
        transition: 2s;
        transform-style: preserve-3d;
        position: relative;   
        width: 300px;
        height: 300px;
        &--active{
            transform: rotateY(180deg);
        }    
    }
    .card__display {
        width: 300px;
        height: 300px;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        &--back {
            background-color: blue;
        }
        &--front {
            background-color: red;
            transform: rotateY(180deg);
        }
    }    
}


