
.game {
    display: flex;
    flex-direction: column;
    padding: 10px;
    // width: 90%;

    &__cardArea {
        display: flex;
        justify-content: space-between;
    }
    &__actionArea {
        display: flex;
    }
    .playerOptionList {
        display: flex;
        flex-direction: column;
    }
    .playerOptionItem {
        width: 28vw;
        height: 28vw;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .cardDisplay {
        display: flex;
        flex-direction: column;
        &:first-child {
            margin-bottom: 10px;
        }
    }
}